<div class="flex-container">
        <div>
            <h5 class="success-msg">Can't find the URL:</h5>
            <h6>{{errorURL}}</h6>
        </div>
         <a href="/"><button class="btn btn-primary">Back</button></a>
</div>