<div class="flex-container">
    <form action="/" novalidate method="POST" class="flex-container" id="input-form">
        <input type="text" class="input-group-text" class="form-control" name="url_full" id="url-input"
            placeholder="Input URL here" required>
        <div class="valid-feedback">
            URL provided!
        </div>
        <div class="invalid-feedback">
            *Please enter a URL.
        </div>
        <button type="submit" class="btn btn-outline-primary" id="submit-button">Shorten</button>
    </form>
</div>

<script>
    /* validate form input */
    const form = document.querySelector('#input-form')
    form.addEventListener('submit', function onFormSubmitted(event) {
        if (!form.checkValidity()) {
            event.stopPropagation()
            event.preventDefault()
            /* alert('Form invalid') */
        }
    })
    const submitButton = document.querySelector('#submit-button')
    submitButton.addEventListener('click', function onSubmitButtonClicked(event) {
        form.classList.add('was-validated')
    })
</script>