<div class="flex-container">
    <form action="/records" method="POST" class="flex-container" id="input-form">
        <input type="text" class="input-group-text" class="form-control" name="url_full" id="url-input" placeholder="Input URL here" required>
         <a href="/records/success"><button type="submit" class="btn btn-outline-primary">Shorten</button></a>
    </form>
</div>