<div class="flex-container">
        <div>
            <h5 class="success-msg">Success! Please use this link:</h5>
            <a href="{{url_full}}" target="_blank" id="url_short">{{url_short}}</a>
        </div>
         <!-- <a href=""><button class="btn btn-primary">Copy</button></a>
   --> 
</div>