<div class="flex-container">
        <div>
            <h5 class="success-msg">Success! Please use this link:</h5>
            <a href="{{url_full}}" target="_blank" id="url_short">{{url_short}}</a>
        </div>
         <button class="btn btn-primary" onclick="copy()">Copy</button>
</div>

  <script>
    function copy() {
      const url_copied = document.getElementById("url_short")
      navigator.clipboard.writeText(url_copied.innerText)
        .then(() => alert('URL copied to clipboard!'))
        .catch(error => console.log(error))
    }
  </script>