.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
  }

#app-name {
    margin-top: 2rem;
    text-decoration: none;
    color: black;
}  

#link-image {
    margin-top: 1rem;
}

#input-form {
    margin-top: 2rem;
}

.btn {
    margin-top: 1rem;
    border-radius: 0%;
}

.btn-outline-primary {
    width: 150px;
}

.btn-primary {
    width: 100px;
}

.input-group-text {
    width: 360px;
    border-radius: 0%;
    text-align: left;
}

.success-msg {
    margin-top: 2rem;
    margin-bottom: 0rem;
    text-align: left;
}

